/* dealing with default styling */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Gill Sans', sans-serif;
}

:root {
    --dark-green-color: rgb(40, 61, 59);
    --green-color: rgb(25, 114, 120);
    --light-pink-color: rgb(237, 221, 212);
}


/* header styling */

.header-div {
    width: 100%;
    height: 5rem;
    position: fixed;
    display: flex;
    text-transform: uppercase;
    background-color: white;
    z-index: 1;
}

#brand-name {
    font-size: 4rem;
    margin-left: 3rem;
}

#brand-name span {
    font-size: 4rem;
    color: var(--green-color);
    transition: all 1s ease;
    animation: brand-span 5s infinite;
}

@keyframes brand-span {
    from {
        color: rgba(25, 114, 120);
    }

    to {
        color: var(--dark-green-color);
    }
}

.hidden-menu {
    width: 50%;
    font-size: 2rem;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    color: var(--green-color);
}

.hamburger-menu {
    text-transform: uppercase;
    display: none;
    position: absolute;
    right: 40%;
    top: 5rem;
    background-color: white;
    line-height: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    z-index: 2;
    width: 30vw;
    height: 16rem;
    font-weight: 400;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    opacity: 0.8;
}

.hamburger-menu a {
    font-size: 1rem !important;
    color: var(--green-color);
}

.hamburger-menu li {
    cursor: pointer;
    font-size: 1rem !important;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.103);
}

.hamburger-menu li:hover{
    background-color: rgba(25, 114, 120,0.3);
    color: white;
}


#non-border {
    border: none;
}

.nav-bar {
    width: 60%;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 3rem;
    margin-right: 4rem;
    font-size: 1.5rem;
}

.nav-bar-item {
    cursor: pointer;
    color: var(--dark-green-color);
}

.nav-bar-item:hover{
    color: var(--green-color);
}

.button-div {
    width: 20%;
    padding: 1.5rem;
    text-align: center;
}

.log-in {
    background-color: var(--green-color);
    padding: 0.3rem 1rem;
    /* position: absolute; */
    right: 3rem;
    top: 1.5rem;
    font-size: 1.2rem;
    color: #ffffff;
    border-radius: 5rem;
    cursor: pointer;
    transition: all 1s ease;
}

.get-started {
    background-color: var(--green-color);
    padding: 0.5rem 1rem;
    /* position: absolute; */
    font-size: 1.2rem;
    color: #ffffff;
    border-radius: 5rem;
    cursor: pointer;
    transition: all 1s ease;
    top: 1.4rem;
    right: 10rem;
    display: none;
}

.log-in:hover {
    background-color: var(--dark-green-color);
}

.get-started:hover {
    background-color: var(--dark-green-color);
}


/* body1 styling */

.body-right-div {
    padding-top: 5rem;
    padding-left: 3rem;
    margin-bottom: 5rem;
    width: 100%;
    height: 90vh;
    z-index: 1;
}

.right-div-img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    background: url(images/bg-2.jpg) no-repeat;
    background-size: cover;
    animation: fadeIn 5s;
    position: relative;
    transition: animation ease-in-out;
}

.layer {
    background: linear-gradient(rgba(237, 221, 212, 0.6),
    rgba(25, 114, 120, 0.7));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.added-content {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 40vh;
    display: flex;
}

.added-text {
    font-size: 2rem;
    text-align: center;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: white;
    transition: all 1s ease;
    font-weight: 600;
}

.added-button {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #ffffff;
    cursor: pointer;
    padding: 0.5rem 1rem;
    background-color: var(--green-color);
    border: none;
    border-radius: 5rem;
    transition: all 1s ease;
}

.added-button:hover {
    background-color: var(--dark-green-color);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    
    to {
        opacity: 0;
    }
}

/* who are we - body2 styling */

.body-left-div {
    padding-right: 3rem;
    margin-bottom: 5rem;
    width: 100%;
} 

.left-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
    width: 100%;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    background-color: rgba(237, 221, 212, 0.6);
} 

.title-left {
    height: 100%;
    font-size: 6rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    writing-mode: vertical-rl;
    color: var(--light-pink-color);
    background-color: var(--green-color);
    text-align: center;
    cursor: pointer;
}

#paragraph-left {
    width: 50%;
    text-align: justify;
    font-size: 1.8rem;
    font-weight: 300;
    margin: 2rem 3rem;
} 

#img-left {
    width: 50%;
    padding-left: 3rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
}

#img-left img {
    width: 35vw;
    float: right;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    padding-bottom: 1rem;
}

#image-4 {
    display: none;
}

/* products - body3 styling */

.body-right-div-2 {
    padding-left: 3rem;
    margin-bottom: 5rem;
    width: 100%;
}

.right-div-2 {
    padding: 3rem;
    display: flex;
    height: 90vh;
    width: 100%;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    background-color: rgba(25, 114, 120, 0.7);
    color: white;
    justify-content: space-around;
}

.products {
    border-radius: 2rem;
    cursor: pointer;
    width: 25%;
    display: block;
    transition: all 1s ease-in-out;
    text-align: center;
    margin-left: 0.5rem;
}

.product-1 {
    background-image: url(images/product-1.png);
    background-size: cover;
    position: relative;
}

.product-1.change-1::before {
    content: '';
    background-color:rgba(41, 68, 68, 0.7);
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    border-radius: 2rem;
}


.product-2 {
    background: url(images/product-2.jpeg);
    background-size: cover;
}

.product-2.change-2::before {
    content: '';
    background-color:rgba(41, 68, 68, 0.7);
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    border-radius: 2rem;
}

.product-3 {
    background: url(images/product-3.jpeg);
    background-size: cover;
}

.product-3.change-3::before {
    content: '';
    background-color:rgba(41, 68, 68, 0.7);
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    border-radius: 2rem;
}

.product-4 {
    background: url(images/product-4.png);
    background-size: cover;
}

.product-4.change-4::before {
    content: '';
    background-color:rgba(41, 68, 68, 0.7);
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    border-radius: 2rem;
}

.product-type {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: white;
    position: relative;
    top: 45%;
    font-weight: 500;
    opacity: 0;
}

@keyframes product-animation {
    from {
        width: 0;
        right: 0;
    }
    to {
        width: 100%;
    }
}


/* subscriptions - body4 styling */

.body-left-div-2 {
    padding-right: 3rem;
    margin-bottom: 5rem;
    width: 100%;
}

.left-div-2 {
    display: flex;
    justify-content: space-around;
    padding: 0 1rem;
    align-items: center;
    height: 90vh;
    width: 100%;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    background-color: rgba(237, 221, 212, 0.8);
}

.subscriptions {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70%; 
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    background-color: white;
    justify-content: center;
    /* box-shadow: 1rem 1rem rgba(25, 114, 120, 0.3); */
    text-align: center;
    cursor: pointer;
    border-radius: 2rem;
}

.personal-subscriptions{
    background: linear-gradient(rgb(25, 114, 120,0.2),
    rgb(25, 114, 120,0.4)), url(images/personal.jpg) no-repeat; 
    background-size: cover;
}

.business-subscriptions{
    background: linear-gradient(rgb(25, 114, 120,0.2),
    rgb(25, 114, 120,0.4)), url(images/business.jpg) no-repeat; 
    background-size: cover;
}

.premium-subscriptions{
    background: linear-gradient(rgb(25, 114, 120,0.2),
    rgb(25, 114, 120,0.4)), url(images/premium.jpg) no-repeat; 
    background-size: cover;
}

.ecommerce-subscriptions{
    background: linear-gradient(rgb(25, 114, 120,0.2),
    rgb(25, 114, 120,0.4)), url(images/ecommerce.jpg) no-repeat; 
    background-size: cover;
}

.subscriptions span {
    background-color: rgba(25, 114, 120, 0.8);
    padding: 1.44rem;
    text-transform: uppercase;
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.3rem;
    height: 13%;
}

.personal-parag, .premium-parag, .business-parag, .ecommerce-parag  {
    display: none;
}

.price {
    font-size: 4rem;
    text-transform: uppercase;
    color: white;
    text-shadow: 0.1rem 0.2rem rgb(0,0,0,0.2);
}

.month {
    font-size: 3rem !important;
}

.purpose {
    font-size: 1rem;
    margin-top: 1rem;
    font-weight: 300;
}

hr {
    display: none;
    margin: 2rem auto;
}

.button {
    background-color: white;
    color: var(--dark-green-color);
    display: none;
    border-radius: 2rem;
    padding: 0.3rem;
    font-size: 1.5rem;
    letter-spacing: 0;
    margin: 2rem auto;
    transition: all 1s ease;
}


.button:hover {
    background-color: var(--dark-green-color);
    color: white;
    transition: all 1s ease;
}

.business-bucks, .premium-bucks, .personal-bucks, .ecommerce-bucks {
    font-weight: 600;
    font-size: 9vw;
}

.parag {
    font-size: 0.7rem;
    font-weight: 300;
    text-transform: lowercase;
    letter-spacing: 0.1rem;
}


/* contact us - body5 styling*/

.body-right-div-3 {
    padding-left: 3rem;
    margin-bottom: 5rem;
    width: 100%;
}


.right-div {
    color: white;
    height: 90vh;
    width: 100%;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    background-color: var(--dark-green-color);
    background: linear-gradient(rgb(40, 61, 59,0.8),
    rgb(40, 61, 59, 0.7)),url(images/img-1.jpg);
    background-size: cover;
    display: flex;
    justify-content: space-around;
}

.form-div {
    float: right;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-div label {
    text-transform: uppercase;
    font-size: 1.7rem;
    font-weight: 300;
    display: block;
    margin-top: 2rem;
}

input[type=text],input[type=button], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    max-height: 15rem;
    max-width: 40rem;
    font-size: 1.2rem;
    font-family: 'Gill Sans', sans-serif;
    /* box-shadow: 0.2rem 0.2rem rgba(242, 242, 242, 0.2); */
}

input[type=button]{
    border: none;
    background-color: var(--dark-green-color);
    cursor: pointer;
    color: white;
}

textarea {
    min-height: 10rem;
    min-width: 30rem;
    margin-bottom: 2rem;
}

.contact-title {
    height: 100%;
    font-size: 6rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    writing-mode: vertical-rl;
    text-align: center;
    cursor: pointer;
    background-color: var(--dark-green-color);
    color: white;
}


@media(max-width: 1500px){
    .nav-bar {
        width: 60%;
        justify-content: space-around;
    }
    #paragraph-left {
        font-size: 1.5rem;
    }
    
}

@media(max-width: 1350px) {

    .hidden-menu {
        display: flex;
    }

    .button-div {
        width: 30%;
    }

    .nav-bar {
        display: none;
    }
    
    .get-started {
        display: inline;
    }
    
    .log-in {
        padding: 0.5rem 1rem;
    }
    
    .product-type {
        font-size: 2rem;
    }
}

@media(max-width: 1050px){
    #paragraph-left {
        width: 70%;
    }
    
    .right-div-2 {
        flex-wrap: wrap;
    }
    
    .products {
        width: 45%;
        margin-bottom: 0.5rem;
    }
    
    .left-div-2 {
        flex-wrap: wrap;
        padding: 0;
    }
    
    .subscriptions {
        width: 40%;
        height: 40%;
        margin-top: 1rem ;
        margin-bottom: 1rem;
    }
    
    .subscriptions-title {
        writing-mode: horizontal-tb;
        width: 100%;
        height: 13%;
    }
    
    .subscriptions span {
        padding: 0.8rem;
    }
    
    #image-4 {
        display: block;
    }
    
    .business-bucks, .premium-bucks, .personal-bucks, .ecommerce-bucks {
        font-weight: 600;
        font-size: 5vw;
    }

    .parag {
        font-size: 0.5rem;
    }

    .button {
        margin: 1rem auto;
    }

    .hidden-menu {
        width: 40%;
    }
    
}

@media(max-width: 1000px){
    .left-div {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
    }
    
    #img-left {
        display: none;
    }
    
    .title-left {
        writing-mode: horizontal-tb;
        width: 100%;
        height: 11%;
        font-size: 5rem;
    }
    
    .added-content {
        margin-left: 6rem;
    }

    .form-div {
        width: 70%;
    }

    .subscriptions-title {
        font-size: 4.3rem;
        padding: 1rem;
    }

    .log-in, .get-started {
        font-size: 1rem;
        padding: 0.3rem 0.5rem;
    }

    .button-div {
        margin-top: 0.4rem;
    }

}

@media(max-width: 900px){

    .button-div {
        padding-top: 0.2rem;
    }

    .log-in, .get-started {
        margin-bottom: 0.1rem;
        display: block;
    }

    hr {
        margin: 1 auto;
    }


}

@media(max-width: 840px){
    
    .added-text {
        font-size: 1.5rem
    }

    #paragraph-left {
        font-size: 1.35rem;
    }

}


@media(max-width: 700px){
    
    .added-text {
        font-size: 1.4rem
    }
    
    .title-left {
        font-size: 4rem;
        height: 10%;
    }

    #paragraph-left {
        margin-bottom: 0rem;
    }

    .contact-title {
        display: none;
    }

    .form-div {
        padding: 2rem;
        width: 100%;
    }

    .subscriptions-title {
        display: none;
    }

    .subscriptions {
        height: 45%;
    }

    .product-type {
        font-size: 1.6rem;
    }


}